GOOGLE_CLOUD_PROJECT=your-project-id
BIGQUERY_DATASET=your_dataset_name
BIGQUERY_TABLE=your_table_name
RUN_BQ_TESTS=0 # If you want to skip BigQuery-dependent tests, set this to 0. Otherwise, leave it blank.